.play {
<<<<<<< HEAD
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

@media screen and (max-width: 920px) {
    .play {
        display: flex;
        flex-direction: column;
    }
=======
  
>>>>>>> 2a4666e6776c26249d25520a5d2f60ef082b446a
}